@media(max-width: 1024px){
    .container{
        padding: 20px;
    }

    .container h1{
        text-align: center;
    }

    .container .filtro{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    .container .filtro .categorias-cartas, .container .filtro .preco-cartas, .container .filtro .btn-filtrar{
        width: 65%;
    }

    .container .filtro .btn-filtrar{
        align-self: center;
    }

    .container .categorias-cartas{
        justify-content: center;
    }

}

@media(max-width: 480px){
    .container .filtro .categorias-cartas, .container .filtro .preco-cartas, .container .filtro .btn-filtrar{
        width: 100%;
    

    }
}